# Entornos virtuales
venv/
.venv/
env/

# Archivos de entorno
.env

# Bases de datos SQLite
*.db
*.sqlite3

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de paquetes y distribución
*.egg-info/
build/
dist/

# Logs
*.log
